<div class="col-md-9">
  <% @stories.each do |story| %>
  <div class="row highlight">
    <div class="col-xs-7 col-md-3"><a href="/read/<%= story.id %>"><img src="<%= story.file.thumb %>" class="img-thumbnail" /></a></div>
    <div class="col-xs-13 col-md-9"><a href="/read/<%= story.id %>"><h3><%= story.title %></h3></a></div>
    <div class="col-xs-13 col-md-9"><em><%= story.summary %></em></div>
  </div>
  <% end %>
</div>

<div class="col-md-3">
  <div class="constrain center-block"><img src="<%= url('/images/matt.jpg') %>" class="img-circle img-responsive" /></div>
  <p  class="text-muted text-center"><small>Pellentesque tortor risus, cursus quis lectus id, scelerisque bibendum sapien. Phasellus eu tortor mi. Pellentesque imperdiet sed nisi in facilisis. Quisque in convallis urna, vel laoreet elit. Etiam neque nunc, dapibus eget blandit in, aliquet id dui. Cras aliquet condimentum tempor. Fusce tempus feugiat dui, at faucibus metus mattis ut. Pellentesque bibendum, erat vel iaculis tempus, lectus ante feugiat odio, non porttitor augue justo non eros. Mauris enim risus, pretium eu porttitor sit amet, molestie vel mi.</small></p>
</div>
