<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if @story %>
      <title><%= @story.title %> | Matty Brown dot net</title>
      <%= erb :opengraphmeta, :locals => {:title => @story.title, :summary => @story.summary} %>
    <% else %>
      <title>Matty Brown dot net</title>
    <% end %>
    <!-- Bootstrap -->
    <link href="<%= url('/css/bootstrap.css') %>" rel="stylesheet">
    <link href="<%= url('/css/custom.css') %>" rel="stylesheet">
    <link href="<%= url('/css/jquery.share.css') %>" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
    <script>tinymce.init({selector:'textarea'});</script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" data-toggle="collapse"></button>
          <a class="navbar-brand" href="/">Matt Brown</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/work">Work experience</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Share:</a></li>
            <li><div id="share"></div></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <% if flash[:success] %>
      <p class="bg-success">
        <%= flash[:success] %>
      </p>
      <% end %>

      <% if flash[:error] %>
      <p class="bg-danger">
        <%= flash[:error] %>
      </p>
      <% end %>
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <%= erb :footer %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="<%= url('/js/bootstrap.min.js') %>"></script>
    <script src="<%= url('/js/jquery.share.js') %>"></script>
    <script>    $('#share').share({ networks: ['facebook','googleplus','twitter'] });</script>
  </body>
</html>
